

body {
    color: white;
    background: url("/Common/Images/body_bg.jpg") no-repeat scroll center top #0d3b6c;
    width: 100%;
    overflow-x: hidden;
    /*height: 2000px;*/
}

::selection {
    color: #efeb00;
    text-shadow: 3px 3px 2px #00ffb9;
    background-color: #065964;
}

.p_2d {
    text-indent: 2em;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: none;
}

.padding30 {
    padding: 30px;
}

.padding10 {
    padding: 10px;
}

.magin10 {
    margin: 10px;
}

.magintop10 {
    margin-top: 10px;
}

.row-title {
    line-height: 40px;
}

.fixedclock {
    position: fixed;
    bottom: 0;
}

.pointerIcon {
    cursor: pointer;
}


.center-Block {
    background-color: #ffffff;
    border-radius: 5px;
    left: 50%;
    position: fixed;
    margin-left: -200px;
    width: 400px;
    height: 450px;
    z-index: 999;
    top: -800px;
    box-shadow: 0 0 15px white;
    color: black;
}

    .center-Block .contont {
        height: 380px;
    }
