

body {
    color: white;
    background: url("/Common/Images/body_bg.jpg") no-repeat scroll center top #0d3b6c;
    width: 100%;
    overflow-x: hidden;
    /*height: 2000px;*/
}

::selection {
    color: #efeb00;
    text-shadow: 3px 3px 2px #00ffb9;
    background-color: #065964;
}

.p_2d {
    text-indent: 2em;
}


.fx-star {
    text-shadow: 0 0 10px #f5ff00;
    border-radius: 50%;
    -moz-animation: rote360 5s infinite;
    -o-animation: rote360 5s infinite;
    -webkit-animation: rote360 5s infinite;
    animation: rote360 5s infinite;
    transform-origin: center center;
    font-size: 10px;
    position: absolute;
}


@-moz-keyframes rote360 {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@-webkit-keyframes rote360 {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@keyframes rote360 {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.shooting-star {
    overflow: hidden;
    transform-origin: right center;
    transform: rotate(-40deg);
    position: absolute;
}

    .shooting-star div {
        padding-top: 3px;
        height: 30%;
        border-radius: 50px;
        position: relative;
        top: 0;
        float: right;
        background-color: #ffffff;
        box-shadow: 0 0 10px #fbf5d0;
    }
